tests/performance/file-pos
log/*
**/*.pid
**/*.log
*.sqlite
.tags
.idea
.tags_sorted_by_file
nbproject/
phpunit.xml
*node_modules*
.svn
.DS_Store
.svn/*
*.swp
.metadata/*
.metadata
*development*
*.tmp
#vim
*.un~
*.swp*
bower_components
.env
_ide_helper.php
#vendor/*
artisan
readme.md
README.md

